html{
  background-color: black;
  color: white;
}
.meme{
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
}
h1{
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 3rem;
}
.meme img{
  border: 5px solid white;
  width: 100%;
}
p{
  text-align: center;
  cursor: help;
}
.creepy{
  width: 30%;
  position: fixed;
  top: 100px;
  left: 35%;
  z-index: -1;
}
.creepy img{
  width: 100%;
}
.creepy p{
  color: rgb(47, 2, 2);
}
#p{
  color: black;
  margin-top: 1000px;
}
